<nav class="navbar navbar-expand-sm bg-light navbar-light">
   <ul class="navbar navbar-nav">
     <li class="nav-link">
        <button (click)="onGetAllProducts()"class="btn btn-sm  btn-outline-info ml-5">All</button>
     </li>
     <li class="nav-link">
        <button (click)="onGetSelectedProducts()" class="btn btn-sm  btn-outline-info ml-5">Selected</button>
     </li>
     <li class="nav-link">
        <button (click)="onGetAvailableProducts()"class="btn btn-sm btn-outline-info ml-5">Available</button>
     </li>
      <li class="nav-link">
        <button (click)="onNewProduct()"class="btn btn-sm btn-outline-info ml-5">New</button>
     </li>
   </ul>
   <ul class="navbar navbar-nav ms-auto">
     <li class="nav-link">
       <form #f="ngForm" (ngSubmit)="onSearch(f.value)" > 
	          <input  ngModel name="keyword" type="text">
	          <button class="btn btn-sm btn-outline-info mb-1 ms-1">
	             <span class="fa fa-search"></span>
	          </button>
       </form>
     </li>  
    </ul>
</nav>
